* {
}
html {
  box-sizing: border-box;
  font-size: 14px;
  word-spacing: 0.2rem;
}
body,
span,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
  /* font-family: 'Hammersmith One', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif; */
}
a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.intro {
  color: white;
  background: url(../IMG/BACKGROUND/INTRO.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
}
.container {
  padding: 0 15px;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.intro__inner {
  display: flex;
  flex-direction: column;
}
.intro__item {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.tajam-icon {
  position: relative;
  width: 130px;
}
.brand {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 55px;
  color: #23899c;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-transform: lowercase;
}
.intro__nav {
  margin-top: 20px;
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.intro__nav a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: 25;
  text-transform: uppercase;
}

.intro__nav a:hover {
  color: #00e0d0;
}

.intro__title {
  margin: 150px auto 60px;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 10;
}

.intro__title:after {
  display: block;
  content: "";
  margin: 30px auto 0;
  width: 50px;
  height: 2px;
  background-color: #00e0d0;
  z-index: 2;
}
.intro__text {
  margin: 0 auto 55px;
  max-width: 780px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 30;
  text-align: center;
  line-height: 25px;
}
.intro__button {
  margin: 0 auto 125px;
}

.button {
  display: inline-block;
  width: 120px;
  height: 40px;
  border: 2px solid #00e0d0;
  color: #00e0d0;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
  line-height: 36px;
}
.button:hover {
  background-color: rgba(0, 224, 209, 0.3);
  cursor: pointer;
}

.carousel {
  margin: 0 auto 70px;
  width: 70px;
}
.point:hover {
  content: url(../IMG/INTRO/point_activ.png);
}
.point {
  margin-right: 2px;
  content: url(../IMG/INTRO/point.png);
}
.point:last-child {
  margin-right: 0;
}

/* ==== STORY ==== */
.story {
  width: 100%;
}

.story__inner {
  display: flex;
  flex-direction: column;
}
.story__item {
  display: flex;
  justify-content: space-between;
}
.story__logo {
  display: inline-block;
  width: 236px;
  margin: 75px 8% 0 80px;
}

.story__description {
  margin-top: 75px;

  display: inline-block;
  max-width: 540px;
  width: 100%;
}
.story__title {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 75;
  text-transform: uppercase;
  color: #413d4b;
}
.story__text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 22px;
  letter-spacing: 30;
}
.story__button {
  margin: 0 auto 70px;
  display: inline-block;
}

/* ===== WATCH ===== */
.watch {
  width: 100%;
  height: 550px;
  background: url(../IMG/BACKGROUND/WITCH.jpg) center no-repeat;
  background-size: cover;
}
.watch__button {
  position: relative;
}

.watch__play {
  position: absolute;
  top: 200px;
  left: calc(50% - 50px);
  margin: 0 auto;
  width: 100px;
  height: 100px;
  content: url(../IMG/WATCH.png);
}

.watch__play:hover {
  content: url(../IMG/WATCH_activ.png);
}

.watch__signature {
  display: block;
  color: white;
  text-align: center;
  padding-top: 340px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 40;
  text-transform: uppercase;
}

/* ==== EXPERTISE ==== */

.expertise {
  width: 100%;
  height: auto;
}

.expertise__header {
  margin-top: 75px;
  margin-bottom: 40px;
  display: block;
  color: #413d4b;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.expertise__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 50;
  font-weight: 600;
}
.expertise__text {
  font-weight: 400;
}
.expertise__cards {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.card {
  margin-top: 20px;
  width: 30%;
  height: 240px;
  display: flex;
  font-family: "Roboto", sans-serif;
  text-align: center;
  flex-direction: column;

  color: #413d4b;
}
.card:hover {
  text-shadow: 2px 2px 7px #00e0d0;
}

.card__icon {
  display: block;
  margin: 20px auto 0;
}
.card__title {
  margin: 30px 0;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 50;

  text-transform: uppercase;
}
.card__text {
  line-height: 22px;
  letter-spacing: 50;
}

/* ==== TEAM ==== */

.team {
  background: url(../IMG/BACKGROUND/our_team.jpg) center no-repeat;
  background-size: cover;
  height: auto;
}

.team__inner {
  display: flex;
  flex-direction: column;
}
.team__header {
  margin-top: 70px;
  color: white;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.team__title {
  font-size: 22px;
  letter-spacing: 50;
  line-height: 50px;
  word-spacing: 5px;
}
.team__subtitle {
  font-size: 14px;
  letter-spacing: 75;
}

.team__subtitle:after {
  display: block;
  content: "";
  margin: 30px auto 0;
  width: 50px;
  height: 2px;
  background-color: #655c80;
  z-index: 2;
}
.team__block {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team__card {
  margin-bottom: 10px;
  display: inline-block;
  color: white;
  width: 220px;
  height: 310px;
  border: 1px solid white;
}

.team__card:hover {
  box-shadow: 2px 2px 9px #00e0d0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.team__card:hover .team__photo {
  overflow: visible;
  /* transition: overflow 2s ease-out; */
}
.team__card:hover .team__name {
  font-size: 23px;
  transition: all 0.8s linear;
}

.team__card:hover .team__career {
  font-size: 20px;
  font-weight: 400;
  transition: all 0.8s linear;
}

.team__photo {
  width: 218px;
  height: 230px;
  background-color: beige;
  overflow: hidden;
}

.team__photo img {
  width: 100%;
}

.team__name {
  display: block;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 50;
  text-align: center;
  text-transform: uppercase;
}
.team__career {
  display: block;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}
.team__slogan {
  display: block;
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  color: white;
}
.team__button {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* ==== WORKS ==== */

.works {
  display: block;
  width: 100%;
}
.works__header {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
.works__title {
  margin-top: 75px;
  margin-bottom: 75px;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 50;
  text-transform: uppercase;
  color: #413d4b;
  /* text-align: left; */
}
.dribling {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 75px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 50;
}
.dribling__link {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #413d4b;
}
.dribling__link:hover {
  color: #00e0d0;
  font-weight: 900;
}

.arrow {
}
.works__examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works__photo {
  width: 253px;
  height: 200px;
  padding: 0;
  margin: 0;
  resize: both;
  overflow: hidden;
}

.works__photo img {
  max-width: 100%;
  height: auto;
}

.works__button {
  display: inline-block;
  margin-left: calc(50% - 60px);
  margin-bottom: 70px;
  margin-top: 70px;
}

/* ==== MARK ==== */

.mark {
  width: 100%;
  background: url(../IMG/BACKGROUND/MARK.jpg) center no-repeat;
  background-size: cover;
}
.mark__inner {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.mark__icon {
  margin-top: 60px;
  margin-bottom: 40px;
}

.mark__text {
  margin-bottom: 60px;
  max-width: 780px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  letter-spacing: 25;
  line-height: 26px;
}
.name {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 50;
  text-transform: uppercase;
}
.career {
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 22px;
}
.mark__carousel {
  margin-bottom: 70px;
  display: flex;
  width: 390px;
  align-items: center;
  justify-content: space-between;
}
.mark__arrow {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* ==== CONTACT ==== */

.contact {
  width: 100%;
  height: auto;
}

.contact__inner {
  margin-top: 70px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.forms {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 50;
  color: #413d4b;
  margin-bottom: 20px;
}

.contact__item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.input {
  display: block;
  padding-left: 20px;
  max-width: 460px;
  width: 100%;
  height: 45px;
  outline: none;
  border: 2px solid #e5e5e5;
  color: #b3b1b7;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 50;
}

.textarea {
  height: 200px;
  padding-top: 15px;
  resize: none;
}
.contact__button {
  margin-top: 25px;
  margin-bottom: 70px;
}

.client {
  width: 45%;
  height: auto;
}
.client__title {
  margin-bottom: 45px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 50;
  color: #413d4b;
}
.client__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client__logos div {
  width: 50%;
  margin-bottom: 50px;
}

/* ==== FOOTER ==== */

.footer {
  width: 100%;
  height: auto;
  background: url(../IMG/BACKGROUND/FOOTER.jpg) center no-repeat;
  background-size: cover;
  color: white;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: inline-block;
  width: 32%;
  margin-top: 70px;
  margin-bottom: 80px;
}

.footer__text {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  letter-spacing: 30;
  line-height: 25px;
}
.footer__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.footer__button {
  display: inline-block;
  width: 100%;
  height: 45px;
  position: relative;
}
.address {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.icon-map {
  margin-right: 15px;
}
.map {
  margin-top: 0;
}

.news {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 45px;
  color: #9e97b0;
  border-color: #9e97b0;
  line-height: 42px;
}

.news:hover {
  background-color: rgba(97, 94, 94, 0.5);
}
.plane {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 45px;
  border: none;
  line-height: 42px;
}
.plane:hover {
  background-color: rgba(27, 162, 162, 0.457);
  text-decoration: none;
}

.networks {
  margin-top: 25px;
  width: 80%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.networks__link{
  display: flex;
  width: 35px;
  height: 35px;
  background:#00e0d0;
  align-items: center;
  justify-content: center;
  background:url(../IMG/FOOTER/Ellipse.png);
}


.networks__link:hover {
  background: url(../IMG/FOOTER/hidden.png);
 
}


.footer__links {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.footer__link-block {
  width: 33%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 25;
  line-height: 26px;
}

.footer__link:hover{
  color:#23899c;
}
.copiright {
  display: inline-block;
  text-align: right;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 25;
  line-height: 26px;
}
